.enter_csv{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.custom-file-input{
    color: white !important;
    font-size: 40px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 0px 0px #fff;
    color:#81afdd;
    font-weight: 700;
   
  }

  .custom-file-input::placeholder{
        color: white !important;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

.file_button{
    background: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 0px 0px #fff;
    color:#81afdd;
    font-weight: 700;
    font-size: 50px;
    vertical-align: center;
    max-height:70px !important;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.file_button:hover{
    background: black;
}

.normal_input{
    background: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 0px 0px #fff;
    color:#81afdd;
    font-weight: 700;
    font-size: 40px;
}

.remove_button{
    margin-bottom: -150px;
}

